.bloc-title-link body {
    font-family: verdana;
    font-size: 12px;
}

.bloc{
    width:40%;
    padding:.5%;
    margin: 0 auto;
}

.bloc-head {
    font-size:18px;
    font-weight:bold;
    text-align:left;
    background-color:#073850;
    color:#ffffff;
    padding:10px;
    border-radius: 5px 5px 0 0;
    text-shadow: 2px 2px #000;
}

.bloc-title {
    text-align:left;
    padding:5px;
    border:1px solid #e1e1e1;
    border-radius: 0 0 5px 5px;
    font-size: 0.9em;
    color: #0175ae;
}

.bloc-title-link {
    padding: 0px 0;
}

hr {
    border: 1px solid #e1e1e1;
}

.bloc-title-link a {
    color: #0175ae;
    text-decoration: none;
}

.bloc-title-link a:hover {
    color: rgb(22, 82, 139);
    text-decoration: none;
}

.bloc-title-link p {
    color: #1e2b31;
    text-decoration: none;
}

.datepub {    
    color: #1e2b31;
    text-decoration: none;
}